.vs/
PandaBank.DAL/bin/
PandaBank.DAL/obj/
PandaBank.Server/bin/
PandaBank.Server/obj/
PandaBank.Service/bin/
PandaBank.Service/obj/
PandaBank.UnitTest/bin/
PandaBank.UnitTest/obj/
PandaBankUser/PandaBank.User/bin/
PandaBankUser/PandaBank.User/obj/
PandaBankUser/PandaBank.User.DAL/bin/
PandaBankUser/PandaBank.User.DAL/obj/
PandaBankUser/PandaBank.User.Service/bin/
PandaBankUser/PandaBank.User.Service/obj/
PandaBankAccount/PandaBank.Account.DAL/obj/
PandaBankAccount/PandaBank.Account.Service/obj/
PandaBank.SharedService/bin/
PandaBank.SharedService/obj/
PandaBankAccount/PandaBank.Account/bin/
PandaBankAccount/PandaBank.Account/obj/
PandaBankAccount/PandaBank.Account.DAL/bin/
PandaBankAccount/PandaBank.Account.Service/bin/
